.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap; }
  .container .card {
    width: 49%;
    height: 35rem;
    border: 1px solid black;
    margin-bottom: 1rem; }
    .container .card__title {
      text-transform: uppercase;
      text-align: center;
      font-size: 2.5rem; }
    .container .card__img {
      width: 100%;
      height: 60%;
      object-fit: cover; }

/*# sourceMappingURL=main.css.map */
